.icon{
    color: $primary-dark;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-light;
    margin: 0 10px 0 0 ;
    border-radius: 50%;
}
